.page {
  background-color: #fff;
  color: #000;
  scrollbar-width: thin;
  scrollbar-color: #f0f0f0 #000;
  overflow-x: hidden;
  --index: calc(1vh + 1vw);
  --text-factor: 1;
}

.page::-webkit-scrollbar {
  width: 1.2vw;
}

.page::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.page::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: .6vw;
  border: .2vw solid #fff;
}

@media screen and (max-width: 1199px) {
  .page {
    --text-factor: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .page {
    --text-factor: 1;
  }
}