.main__column {
  padding: calc(var(--index) * 3.75) calc(var(--index) * 3);
  box-sizing: border-box; 
}

.main__column:first-of-type {
  padding-left: 0;
  padding-right: 0;
  border-right: 1px solid #000;
}

.main__column:last-of-type {
  padding-left: calc(var(--index) * .5);
  padding-right: calc(var(--index) * .5);
  border-left: 1px solid #000;
  display: flex;
  flex-direction: column;
}