.PreloaderBlock {
  position: fixed;
  top: 0;
  left: 0;
  height: 130vh;
  padding-bottom: 30vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}